.App {
  text-align: center;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  background-color: #add8e6;
  max-width: 100%;
  overflow-x: hidden;
}

.home {
  font-size: 40px;
  color: rgb(66, 24, 24);
}

.restaurant-images {
  height: 100px;
  width: 100px;
}

.restaurants-container {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

nav a {
  font-size: 24px;
  text-decoration: none;
  color: whitesmoke;
  text-align: center;
}

.nav-container {
  background-color: rgb(85, 48, 4);
  width: 100%;
  height: 60px;
  text-align: center;
  padding-top: 30px;
}

.responsive {
  width: 100%;
  height: auto;
}

@media screen and (max-width: 800px) {
  body {
    background-color: lightblue;
  }
}
