.App {
  text-align: center;
}

.home {
  font-size: 100px;
}

.restaurant-images {
  height: 150px;
  width: 150px;
}

.restaurants-container {
  display: flex;
  flex-direction: row;
  gap: 20px;
}
